{% load static %}

{% block content %}

        <section class="banners mb-25">
            <div class="container">
                <div class="row">
                    {% for banner in home_ad_mid_banners %}
                    <!-- banner card -->
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow animate__animated animate__fadeInUp" data-wow-delay="0">
                            <img src="{{banner.image.url}}" alt="" />
                            <div class="banner-text">
                                <h4>
                                    {{banner.title_first_part}}<br>
                                    {{banner.title_second_part}}
                                </h4>
                                <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- banner card end -->
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock content %}