{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="main">
        <!--================= Slider-hero =================-->
        {% include './inc/slider-hero.html' %}
        <!--================= Slider-hero =================-->

        <!--============= featured-categories =============-->
        {% include './inc/featured-categories.html' %}
        <!--============= featured-categories =============-->

        <!--=================== Banner ===================-->
        {% include './inc/Banner.html' %}
        <!--=================== Banner ===================-->

        <!--============== popular-products ==============-->
        {% include './inc/popular-products.html' %}
        <!--============== popular-products ==============-->

        <!--============== ads supplier ==============-->
        {% include './inc/ads_supplier.html' %}
        <!--============== ads supplier ==============-->

        <!--============== daily-best-sells ==============-->
        {% include './inc/daily-best-sells.html' %}
        <!--============== daily-best-sells ==============-->

        <!--============== deals-of-the-day ==============-->
        {% include './inc/deals-of-the-day.html' %}
        <!--============== deals-of-the-day ==============-->

        <!--================ top-selling ================-->
        {% include './inc/top-selling.html' %}
        <!--================ top-selling ================-->
    </main>

{% endblock content %}
